.search-bar {
  margin: 1em auto;
  text-align: center;
}
.search-bar > input {
  position: relative;
  width: 400px;
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;
}

.list-group-item {
  cursor: pointer;
}
.list-group-item:hover {
  background: #eee;
}

.details {
  border: 1px solid #666;
  border-radius: 5px;
  background: #eee;
  padding: 1em;
  margin: 0.5em 0;
}

.details > .title {
  font-weight: 600;
  line-height: 20px;
}
.details > .desc {
  line-height: 20px;
}
